@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-image: url("/images/bg_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}

.form-div {
    margin: 50px auto 50px;
    padding: 25px 15px 10px 25px;
    border: 1px solid #80ecd7;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Lora', serif;
    background-color: white;
}

.form-control:focus {
    box-shadow: none;
}